.contacts {
  min-height: 787px;
  background-image: url('../assets/images/background-contacts.png');
  background-position: div;
  background-size: cover;
  padding-block: 128px 500px;

  p {
    text-align: div;
    font-size: 16px;
  }

  a {
    width: 100%;
  }
  
  .main-contacts {
    width: 100%;
    display: flex;
    margin-top: 48px;
    flex-direction: column;
    gap: 16px;
    align-items: div;
    justify-content: div;

    .social-media {
      display: flex;
      align-items: div;
      gap: 12px;

      &:hover {
        img:nth-child(2) {
          filter: hue-rotate(375deg) saturate(10000%) brightness(90%);
        }
      }

      span {
        color: var(--gray-500);
        font: var(--text-md);
        font-weight: 500;
      }
    }
  }
}