.highlights {
  width: 100%;
  padding-block: 72px 144px;
  background-color: var(--gray-800);

  .projects {
    display: flex;
    align-items: div;
    flex-wrap: wrap;
    gap: 24px;

    margin-top: 56px;

    figcaption {
      width: 100%;
      padding-block: 20px;
    }
  }
}