*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;
  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;
  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --ff-base: 'Raleway', sans-serif;

  --title-lg: 4.8rem;
  --title-md: 4rem;
  --title-sm: 3.2rem;
  --title-xs: 1.6rem;
  --subtitle: 3.2rem;
  --text-lg: 2rem;
  --text-md: 1.6rem;
  --text-sm: 1.4rem;
  --text-xs: 1.2rem;
  --text-tag: 1rem;
}

html, button, body {
  font: 400 var(--text-md)/1.4 var(--ff-base);
}

body {
  background-color: var(--shape-base);
  backdrop-filter: blur(750rem);
  color: var(--text-body);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 112rem;
  width: 100%;
  margin-inline: auto;
}

h1 {
  font: 700 var(--title-lg) var(--ff-base);
}

h2 {
  font: 700 var(--title-sm) var(--ff-base);
}


.blue-light {
  color: var(--blue-light);
}

.pink-light {
  color: var(--pink-light);
}


.btn-blue-dark {
  all: unset;
  width: 100%;
  margin-inline: auto;
  padding-block: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  font: 700 var(--text-sm) var(--ff-base);
  background-color: var(--blue-dark);
  position: relative;

  &::before {
    content: '';
    border-radius: .8rem;
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    opacity: 0;
    background-color: var(--blue-light);
    transition: all .5s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
    opacity: .1;
  }
}

.btn-pink-dark {
  all: unset;
  width: 100%;
  margin-inline: auto;
  padding-block: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  font: 700 var(--text-sm) var(--ff-base);
  background-color: var(--pink-dark);
  position: relative;

  &::before {
    content: '';
    border-radius: .8rem;
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    opacity: 0;
    background-color: var(--pink-light);
    transition: all .5s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
    opacity: .1;
  }
}

.mt-70 {
  margin-top: 7rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-26 {
  margin-top: 2.6rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-10 {
  margin-top: 1rem;
}